<div class="row">
    <div class="col-md-6">
		<h1>Contact</h1>


		<p>Want to get in touch?</p>

		<ul>
			<li>{{#link-to 'adresses'}} Adresses &amp; Email! {{/link-to}}</li>
			<li>{{#link-to 'map'}} Where we are? {{/link-to}}</li>
		</ul>
    </div>
    <div class="col-md-6">
    	
       {{outlet}}
       
    </div>

</div>
